.container {
  padding: 1rem 0;

  h2 {
    padding: 1rem 0;
  }

}

.field {
  padding: 0.5rem 0;

  label, input {
    margin-right: 0.5rem;
  }

}

.buttons, .message {
  padding: 0.5rem 0;
}

.error {
  color: red;
}
